*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  text-align: center;
}

nav{
  /*position: fixed;*/
}
/*Estilos Grid system*/
.container{
  width: 100%;
  margin: 0px auto;
}

.row:after, .row:before{
  content: " ";
  display: table;
}

.row:after{
  clear: both;
}

[class*="col-"]{
  min-height: 7px;
  float: left;
}
/*cLASES PARA LOS % DE CADA COLUMNA*/
.col-1{
  width: 8.333%;
}

.col-2{
  width: 16.666%;
}

.col-3{
  width: 25%;
}

.col-4{
  width: 33.333%;
}

.col-5{
  width: 41.666%;
}

.col-6{
  width: 50%;
}

.col-7{
  width: 58.333%;
}

.col-8{
  width: 66.666%;
}

.col-9{
  width: 75%;
}

.col-10{
  width: 83.333%;
}

.col-11{
  width: 91.666%;
}

.col-12{
  width: 100%;
}
/*Estilos para los margenes & bordes*/
.pad-2{
  padding: 0 0 2% 0;
}

.mT-2{
  margin-top: 2%;
}

.mT-5{
  margin-top: 5%;
}

.mT-7{
  margin-top: 7%;
}

.mB-5{
  margin-bottom: 5%;
}

.bordB{
  border: none;
  border-bottom: 3px solid black;
}
/*Estilos para el texto*/
.negrita{
  font-weight: bold;
}

.fontW{
  color: #4A148C;
}

.tituloS{
  font-size: 35px;
}

.just{
  text-align: justify;
}

.rosa{
  color: #f000ff;
}
/*Colores de FOndo*/

.fondoMor{
  background-color: #AB47BC;
}

.fondoAz{
  background-color: #00C8C8;
}

.fondoNar{
  background-color: #FFC107;
}
/*Estilos para las imágenes*/
.bordeR{
  border-radius: 3%;
}

.pad{
  padding: 2%;
}

.image{
  width: 90%;
}

.image:hover{
  opacity: 0.7;
  cursor: pointer;
}
