/*Estilos Itzel*/
#portada{
	margin-right: 0;
	background-image: url(../img/img-portada/portada-title-reduce.jpg);
	background-size: cover;
	background-color: pink;
	height: 700px;
	width: 100%;
}
.logo{
	padding: 0;
	margin:0;
	border:none;
	background-color: none;
}
.button-link{
	text-decoration: none;
	padding: 15px 20px;
    background-color: rgba(245, 0, 135, .9);
    border: 3px solid #fff;
    color: #fff;
    font-size: 21px;
    border-radius: 10px;
}
.button-link:hover{
	color: rgb(245, 0, 135);
	background-color: #fff;
	font-weight: 700;
	cursor: pointer;
}
#plataform{
	width: 100%;
	padding: 10%;
}
.align-left{
	text-align: left;
	margin-left: 3%;
}
.align-right{
	text-align: right;
}
#nav{
	height: 100px;
	background-color: rgba(100, 100, 100, .5);
	position: fixed;
	display: none;
}
#logo{
	border-radius: 10px;
	border: solid 4px rgb(245, 0, 135);
	margin-top: 10%;
	margin-left: 35%;
}
.container{
	width: 100%;
	margin: 0px auto;
}
.buttons{
	line-height: 90px;
	padding: 5% 10%;
	margin-left: 1%;
}
.contenedor{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.imagenes { 
	width: 500px; 
	height: 500px; 
	background:#ecf0f1; 
	border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px; 
	-webkit-border-radius: 15px 15px 15px 15px;
	border: 2px solid #bdc3c7;
	margin: 1em auto 0;
	background-color: rgba(128, 0, 128, .5);
}
.imagenes>img{
	width: 20%;
	height: 20%;
	margin: 2.2%;
	border-radius: 10px;
}
.margin{
	margin-top: 85%;
	margin-left: 25%;
}
#gaming{
	background-color: rgb(245, 0, 135);
}
.title{
	font-size: 4vw;
	color: #fff;
	text-align: center;
}
#resultado{
	transform: scale(3.5);
}
/*Termina estilos Itzel*/
